{% extends "_layout.html" %}

{% block title %}
    {{current_user.name}}'s Image
{% endblock %}

{% block content %}
    <div class="px-5 py-5">
        <figure>
            <img src="{{ image.url }}" width="100%">
            <figcaption>{{ image.caption }}</figcaption>
        </figure>
        {% if current_user.is_authenticated %}
            <a href="{{ url_for('payments.payment_form', username= current_user.name, imageid = image.id) }}"><button>Donate</button></a>
        {% endif %}
        <h3 class="mt-3 mb-3">Donation List:</h3>
        <div class="d-flex">
            <ol class="flex-grow-1">
                {% for donation in donations %}
                    <li>
                        {{ donation.user.name }} :  ${{ donation.amount }}
                    </li>
                {% endfor %}

            </ol>
            <div>
                <h1>TOTAL DONATION AMOUNT:</h1>
                <h1 class="text-center">$ {{ total_donation }}</h1>
            </div>
        </div>
    </div>


{% endblock %}