{% extends "_layout.html" %}
{% block content %}
    <h1>User Sign Up Form</h1>
    {% for error in errors if errors %}
        <h3>{{ error }}</h3>
    {% endfor %}
    
    <form action="{{ url_for('users.create') }}" method="POST">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
        <div class="form-group">
            <label for="user_name">Username:</label>
            <input type="text" class="form-control" name="user_name" />
        </div>

        <div class="form-group">
            <label for="user_email">Email:</label>
            <input type="text" class="form-control" name="user_email" />
        </div>

        <div class="form-group">
            <label for="user_password">Password:</label>
            <input type="text" class="form-control" name="user_password" />
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>  
{% endblock %}