Authlib @ file:///C:/Users/chanq/MyProject/flasknextagram/authlib
brotlipy==0.7.0
certifi==2020.12.5
cffi @ file:///C:/ci/cffi_1606237165371/work
chardet==4.0.0
click==7.1.2
colorama==0.4.4
conda==4.9.2
conda-package-handling @ file:///C:/ci/conda-package-handling_1605484860147/work
cryptography @ file:///C:/ci/cryptography_1607618721363/work
Flask==1.1.2
idna @ file:///tmp/build/80754af9/idna_1593446292537/work
itsdangerous==1.1.0
Jinja2==2.11.3
MarkupSafe==1.1.1
menuinst==1.4.16
peewee==3.14.4
peewee-db-evolve==3.7.6
psycopg2-binary==2.8.6
pycosat==0.6.3
pycparser @ file:///tmp/build/80754af9/pycparser_1594388511720/work
pyOpenSSL @ file:///tmp/build/80754af9/pyopenssl_1606517880428/work
PySocks @ file:///C:/ci/pysocks_1605307512533/work
python-dotenv==0.16.0
pywin32==228
PyYAML==5.4.1
requests==2.25.1
ruamel-yaml-conda @ file:///C:/ci/ruamel_yaml_1605524207026/work
six @ file:///C:/ci/six_1605205404068/work
tqdm @ file:///tmp/build/80754af9/tqdm_1607369919789/work
urllib3==1.26.4
Werkzeug==1.0.1
win-inet-pton @ file:///C:/ci/win_inet_pton_1605306162074/work
wincertstore==0.2
